<footer class="main-footer">
      <!--Defines a section, always at the bottom of the page-->
      <div class="container main-footer-container">
        <h3 class="band-name">Sodagram</h3>
        <div class="container contact-info">
          <p> Contact Us:</p>
          <a href="filler_email@gmail.com">filler.email@gmail.com</a>
        </div>
      </div>
    </footer>