<head>
    <title>Sodagram</title>
    <!--Used by Browser to show what page name it is-->
    <meta name="description" content="This is the description" content="width=device-width" charset="utf-8"/>
    <!--Message that shows up with the title of page whenever browser search-->
    <link rel="stylesheet" href="/public/css/styles.css" type="text/css">
</head>