<nav class="nav main-nav">
  <section class="navbar">
    <div class="dropdown">
      <button class="button-image"><img src="public/Images/menu-2925825_1280.webp" alt="" class="image-button"></button>
      <div class="dropdown-content">
        <a href="About.HTML">About</a>
        <a href="Index.HTML">Home</a>
        <a href="Store.HTML">My Page</a>
      </div>
    </div>

    <button class="button-image" type="button"><a href="Login.Html"><img src="public/Images/Guest.jpeg" alt="" class="image-button"></a></button>
  </section>
</nav>
