<nav class="nav main-nav">
  <section class="navbar">

    <!-- This part creates a dropdown menu  -->
    <div class="dropdown">
      <button class="button-image"><img src="public/Images/menu-2925825_1280.webp" alt="" class="image-button"></button>
      <div class="dropdown-content">
        <a href="About.HTML">About</a>
        <a href="Index.HTML">Home</a>
      </div>
    </div>

    <!-- This image acts differently depending on whether the user is logged in or not -->
    <button class="button-image" type="button" id="account"><img src="public/Images/Guest.jpeg" alt="" class="image-button"></button>
  </section>
</nav>
