<nav class="nav main-nav">
    <!--Section creates a navigation box-->
    <ul>
    <!--Unordered list (bullet points, whereas ordered list are numbered(ol))-->
        <li><a href="Index.html">HOME</a></li>
        <!--List item, used only inside ul and ol-->
        <li><a href="Store.html">STORE</a></li>
        <li><a href="About.html">ABOUT</a></li>
    </ul>
</nav>