<!DOCTYPE html>
<html>
  <head>
    <title>Tuyu | About</title>
    <meta name="description" content="THis is the description" />

    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>

  <body>
    <header class="main-header">
      <!--Section provides heading/creates a box -->
      <nav class="nav main-nav">
        <!--Section creates a navigation box-->
        <ul>
          <!--Unordered list (bullet points, whereas ordered list are numbered(ol))-->
          <li><a href="Index.html">HOME</a></li>
          <!--List item, used only inside ul and ol-->
          <li><a href="Store.html">STORE</a></li>
          <li><a href="About.html">ABOUT</a></li>
        </ul>
      </nav>
      <!-- <hr> Empty element, provides a horizantal line/rule -->
      <h1 class="band-name band-name-large">Tuyu</h1>
      <!--heading element, h1-6 for sizes-->
    </header>

    <section class="content-section container">
      <!--Creates a generic section on the page-->
      <h2 class="section-header">About</h2>
      <!--Another heading-->
      <img src="Images/Tuyu.jpeg" alt="Tuyu logo" class="about-band-image" />
      <!--Image element (doesnt need an end bracket), src is the source of image and where it can be found -->
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam sint quia
        animi quasi modi accusantium hic, autem cumque qui aut unde. Dolorem
        autem exercitationem similique dolore, eum dolorum? Ad fuga, suscipit
        qui architecto eaque omnis cumque, perferendis corporis consequuntur
        minima impedit ea! Magni repellendus exercitationem, porro iure
        consequuntur veritatis voluptatibus quis provident voluptate accusamus,
        cum aspernatur nihil quos delectus voluptates ducimus deserunt quam
        architecto ut excepturi necessitatibus nemo earum nesciunt? Iusto,
        quidem ut labore, officia, cum corrupti deleniti officiis sunt expedita
        consequatur saepe earum. Quam nam voluptates tenetur libero eaque
        aperiam reprehenderit itaque omnis nulla nesciunt illo, ex numquam esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ipsam
        quo enim, consequatur veritatis, laboriosam voluptatem iusto asperiores
        debitis voluptatum incidunt quibusdam minima blanditiis maxime at ullam
        eos! Labore earum beatae placeat tempora rem iusto enim officiis
        doloremque, aspernatur sed quod minima? Temporibus, odio? Facere est
        nemo officiis sit ipsa.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis hic
        nemo dicta, placeat officiis dignissimos rerum impedit. Nostrum
        doloremque facere dicta nihil consequatur ut, odit maxime porro eligendi
        delectus est corporis debitis enim aut aspernatur aliquid nemo, dolore
        expedita perspiciatis a, eius sint illo! Voluptatem labore ducimus ex
        accusantium eum tempore aliquid dolore nostrum officiis reprehenderit,
        sed quis, dolorem nesciunt, totam vitae quaerat ipsa voluptatibus nihil?
        Ducimus nihil ea quis tempore saepe nesciunt aspernatur veritatis
        nostrum ullam nobis natus commodi, ipsam voluptatibus quod eligendi
        culpa obcaecati, dolores eos vel corrupti magnam. Facere voluptas in
        beatae aperiam quibusdam ipsa natus odit aspernatur eos sapiente. Quis,
        quibusdam voluptas rem quam accusamus vero nesciunt debitis? Ex earum
        necessitatibus odio provident rem eveniet illo. Exercitationem
        repellendus hic dolorum labore eligendi modi porro culpa soluta deserunt
        vitae laboriosam facilis unde a quis repudiandae, quod accusantium
        voluptatem et quasi ipsam optio. Molestiae quia voluptas recusandae
        quidem nihil quam dignissimos sed eos, blanditiis in quisquam ab
        distinctio. Ab, sed optio nobis temporibus ullam magnam non magni
        voluptate aliquid dolorem aut ratione perferendis quidem maxime
        laudantium! Amet ratione numquam, aspernatur, consequuntur laborum iure
        soluta natus aperiam necessitatibus corrupti eum earum ipsum consequatur
        odit et optio enim ipsam delectus deleniti, officia at commodi nesciunt!
        Voluptates similique quasi magnam ad architecto saepe accusamus possimus
        recusandae, totam optio, reiciendis, beatae non cupiditate dolorem quae
        ipsa officiis modi eos. Magni officiis impedit ullam odit eum optio
        voluptate commodi repellat deleniti expedita! Aut harum asperiores
        distinctio eos recusandae enim eligendi pariatur commodi, architecto
        expedita doloremque et maiores, doloribus consequatur laborum
        exercitationem veniam animi quam repellendus placeat. Natus sunt dolor,
        odit minima ratione accusamus ducimus corporis inventore dolorum eius
        doloribus quaerat quis labore necessitatibus id! Voluptas vitae
        voluptatem esse nihil alias, reprehenderit, earum provident pariatur
        quisquam natus dolorum, atque velit. Laudantium tempora nobis ipsam modi
        dolores repellendus architecto neque, pariatur dolorum beatae, quia quod
        ad necessitatibus perspiciatis labore aliquam nulla possimus repellat
        voluptate tenetur saepe? Corrupti vero amet tempora quas rerum cumque,
        minima ex. Obcaecati, omnis animi? Voluptate placeat vero natus,
        reprehenderit delectus veniam. Reiciendis ullam nisi fugiat nesciunt
        asperiores pariatur inventore voluptates officia est, laborum sequi nam
        earum nobis explicabo dignissimos tenetur perspiciatis voluptatem vitae
        quia nostrum placeat odit? Illum sit iusto quod possimus nam sed
        doloribus. Placeat animi necessitatibus illum est qui accusantium fugiat
        quaerat, temporibus expedita adipisci facere aspernatur totam
        praesentium autem quo? Sed nam beatae fugit quibusdam cum. Magni, quidem
        beatae, odio optio praesentium inventore adipisci perspiciatis
        necessitatibus est qui, fugit temporibus quasi asperiores ipsum sunt
        cupiditate soluta libero. Totam, repudiandae consequatur magnam nisi
        quidem quas et minus soluta vel delectus facere ipsa culpa ab doloribus
        vero repellendus animi nobis sapiente consequuntur tempora, molestiae,
        incidunt veniam. Recusandae pariatur molestias enim? Praesentium dolore
        nulla voluptatibus quaerat atque pariatur, molestiae laboriosam natus
        quia itaque sint quae consectetur ut architecto saepe in assumenda
        consequatur repellat iste officia obcaecati. Expedita, temporibus.
        Facilis blanditiis recusandae ipsum laudantium facere totam, tempore
        quisquam! Cumque cum suscipit eveniet, mollitia, amet assumenda, quam et
        ullam porro officia quis placeat.
      </p>
    </section>

    <footer class="main-footer">
      <!--Defines a section, always at the bottom of the page-->
      <div class="container main-footer-container">
        <h3 class="band-name">Tuyu</h3>
        <ul class="nav footer-nav">
          <!--unordered list-->
          <li>
            <a href="https://www.youtube.com/@TUYU_official" target="_blank"
              ><img src="Images/youtube.jpeg" alt="youtube logo"
            /></a>
          </li>
          <!--List elements-->
          <li>
            <a
              href="https://open.spotify.com/artist/0PHf0oiic0xAnCrRuLTtHl"
              target="_blank"
              ><img src="Images/spotify.png" alt="spotify logo"
            /></a>
          </li>
          <li>
            <a href="https://twitter.com/TUYU_official" target="_blank"
              ><img src="Images/twitter.png" alt="twitter logo"
            /></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
