<!DOCTYPE html>
<html>
  <%- include('layouts/header'); -%>

  <body>
    <header class="main-header">
      <!--Section provides heading/creates a box -->
      <%- include('layouts/nav'); -%>
      <h1 class="band-name band-name-large">Sodagram</h1>
    </header>

    


    <%- include('layouts/footer'); -%>
  </body>
</html>
