<!DOCTYPE html>
<html>
    <head>
        <title>Sodagram | Login</title>
        <meta name="description" content="This is the description" />

        <link rel="stylesheet" href="public/css/styles.css" />
    </head>

    <body>
        <div class="login-container">
            <ul class="login-ul">
                <div class="login-menu">
                    <h2 class="Login-text-big">Login</h2>
                    <div class="Input-boxes">
                        <h4 class="Login-text">Email</h4>
                        <input type="text" placeholder="Example@gmail.com" class="Login-Input">
                    </div>
                   
                    <div class="Input-boxes">
                        <h4 class="Login-text">Password</h4>
                        <input type="text"  class="Login-Input">
                    </div>
                    <div>
                        <button class="Login-button" onclick="login()">Enter</button>
                    </div>
                </div>
                <div> 
                    <a href="Creation.html"><button type="button" class="creation-button" id="create-button">Create New</button></a>
                </div>
                <div> 
                    <a href="Index.html"><button type="button" class="creation-button" id="guest-button">Continue as Guest</button></a>
                </div>
                
            </ul>
        </div>

        <%- include('layouts/footer'); -%>
    </body>
    <script>
        function login(){

        }
    </script>
</html>