@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
  font-family: "HURTMOLD_";
  src: url("Fonts/HURTM___.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Adequate-ExtraLight";
  src: url("Fonts/Adequate-ExtraLight.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #777;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(251, 217, 238);
}

.main-header {
  background-color: rgba(255, 184, 228, 0.675); /*Sets background color*/
  padding-bottom: 30px;
  max-height: 200px;
}

/*Band Title*/

.band-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: "HURTMOLD_";
  font-weight: normal;
  color: rgb(95, 106, 100);
}

.band-name-large {
  font-size: 5em;
}

/* content */

.main-footer {
  background-color: rgb(247, 166, 216);
  color: white;
  padding: 0.25em 0;
  bottom: 0%;
  width: 100%;
  position: fixed;
  height: 10%;
}

.main-footer-container {
  display: inline-flex;
  width: 90%;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.contact-info {
  display: inline;
  margin: 0;
}

.footer-nav {
  padding: 0 0.5em;
}

/*New Stuff*/

.login-ul {
  padding: 10%;
  margin: 0%;
}

.login-container {
  display: block;
  text-align: center;
  width: 30%;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 10%;
}

.login-menu {
  text-align: right;

  border: #333 2px solid;
  border-radius: 10px;
  padding: 5%;
  width: 100%;

  color: #000;
}

.Login-text-big {
  text-align: center;
  color: #000;
  margin-bottom: 0%;
}

.Input-boxes {
  margin-top: 10%;
}

.Login-text {
  text-align: left;
  margin: 0%;
  color: #333;
}

.Login-Input {
  margin-top: 2.5%;
  width: 100%;
  border-radius: 5em;
  padding-left: 1em;
  padding-right: 1em;
}

.Login-button {
  margin-top: 10%;
  width: 8em;
  height: 2em;
  border-radius: 2em;
}

.creation-button {
  margin-top: 10%;
  width: 100%;
  height: 3em;

  border-radius: 3em;
}

.Name-boxes {
  margin-top: 5%;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.Input-Name-boxes {
  text-align: left;
  width: 45%;
  margin: 0%;
}

.Name-Input {
  width: 100%;
  display: inline;
  margin-top: 5%;
}

.creation-container {
  margin-bottom: 5%;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 130%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: aquamarine;
}

.dropdown:focus-within .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}

.navbar {
  width: 98%;
  margin-top: 1%;
  text-align: center;
  display: inline-flex;
  justify-content: space-between;
}
.nav {
  text-align: center;
}
.image-button {
  width: 75px;
  height: 75px;
  border: 0px;
  padding: 0%;
  margin: 0%;
  border-radius: 75px;
}

.button-image {
  width: 75px;
  height: 75px;
  padding: 0%;
  margin: 0%;
  border: 0px;
  border-radius: 75px;
}

.dispense {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.peach_dispense {
  width: 12em;
  height: 5em;
  background-color: #ffb0f8;
  border: #333, 1px;
  border-radius: 1em;
}

.mango_dispense {
  width: 12em;
  height: 5em;
  background-color: #ffd2a2;
  border: #333, 1px;
  border-radius: 1em;
}

.pineapple_dispense {
  width: 12em;
  height: 5em;
  background-color: #f7ffb0;
  border: #333, 1px;
  border-radius: 1em;
}

.dispense-text-modal {
  text-align: center;
  margin: 0%;
  margin-top: 5%;
  height: 10%;
  width: 100%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 2%;
  margin-top: 0%;
  width: 80%; /* Could be more or less, depending on screen size */
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
/* The Close Button */
.close {
  color: #666666;
  float: right;
  font-size: 50px;
  font-weight: bolder;
  height: 1px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content-logout {
  background-color: #fefefe00;
  border: #fefefe00, 0px;
}

/* Daniel;s stuff:
*/

.profile-images {
  width: 150px;
  height: 150px;
  border-radius: 150px;

  margin-top: 25px;
  margin-left: 45%;

}

.about-us-text {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
.about-us-text2 {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
  text-align: center;
}

.drink-photos {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border: 0px;
  margin-bottom: 150px;
  text-align: center;
  margin-left: 300px;
  margin-top: 100px;
  padding: 0%;
}

.drink-photosTOP {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border: 0px;
  margin-bottom: 100px;
  text-align: center;
  margin-left: 300px;
  margin-top: 60px;
  padding: 0%;
}
.dispense-text {
  text-align: center;
  margin-right: 500px;
}

.dispense-buttonTOP {
  width: 300px;
  height: 300px;
  border-radius: 300px;
}


.dispense_coke {
  width: 40%;
  height: auto;
  align-self: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.logout-button {
  margin: 0%;
  width: 100%;
  height: 5em;
  background-color: #ff5b42;
  font-size: 1em;
  color: #000;
}

.logout-button-div {
  margin-top: 0%;
  width:50%;
  display: flex;
  justify-content: center;
}

.create-drinks{
  height: 30em;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.square-side{
  height: 80%;
  width: 30%;
  display: block;
  margin-left: 10%;
  margin-top: 5%;
}

.button-side{
  margin-right: 10%;
  margin-top:5%;
  height: 80%;
  width: 30%;
}

.square{
  height: 50%;
  width: 100%;
  background-color: #5f5f5f;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.top-text{
  color: #000;
  font-size: larger;
}

#dispenseOwnDrink{
  height: 100%;
  width: 100%;
}

.top-drink{
  height: 50%;
  width: 100%;
}

.bottom-drink{
  height: 40%;
  width: 100%;
}

.drink-opt-top{
  margin-top: 1em;
  width: 100%;
}

.flavor-opt-top{
  margin-top: 1em;
  width: 100%;
}

.drink-opt-bottom{
  margin-top: 1em;
  width: 100%;
}

.flavor-opt-bottom{
  margin-top: 1em;
  width: 100%;
}

.dispense-button{
  width: 100%;
  height: 10%;
  background-color: pink;
  border: none;
  border-radius: 5px;
  color: black;
}

.dispense-button:hover{
  background-color: rgb(247, 166, 216);;
  transition: 0.3s;
  color: black;
}